@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto&display=swap');

header {
    margin: 0 auto;
    background-color: #219EBC;
    display: grid;
    grid-template-columns: 150px auto;
}

header a img {
    padding-bottom: 1px;
}

#content {
    margin: 0 auto;
    max-width: 1600px;
}

main section img {
    box-sizing: border-box;
}

.home-title {
    font-size: 2em;
    margin-top: 10px;
}

#logo_link {
    padding-top: 5px;
    padding-bottom: 10px;
    justify-self: center;
    align-self: center;

}

.logo {
    width: 150px;
    height: 150px;
}

.icon {
    width: 100px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    margin: 0 auto;
    background-color: #219EBC;
    color: black;
    text-decoration: none;
    font-family: "Roboto, Open sans, sans-serif";
    padding: 35px;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
    font-family: "Montserrat", "Bradley Hand", "sans-serif";
    color: black;
}

.button-box {
    text-align: center;
    font-family: "Roboto, Open Sans, sans-serif";
}

main section {
    text-align: center;
}


#background {
    height: 725px;
}

body {
    background-color: white;
    font-size: 22px;
    font-family: "Roboto, Open Sans, sans-serif";
    margin: 0;
    padding: 0;
}

nav a:hover {
    background-color: #FFB703;
    color: white;
}

.book,
.join {
    background-color: #678D58;
    color: black;
    text-decoration: none;
    font-family: "Roboto, Open sans, sans-serif";
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    background-color: #FFB703;
    color: white;
}

#background {
    background-color: #023047;
}

.home-grid {
    font-family: "Roboto, Open Sans, sans-serif";
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

h2 {
    font-family: "Roboto, Open Sans, sans-serif";
    margin: 0;
    line-height: 1.5em;
}

footer h3 {
    color: #023047;
    font-family: "Roboto, Open Sans, sans-serif";
}

h4 {
    color: #023047;
    font-family: "Roboto, Open Sans, sans-serif";
}

#bench-img {
    width: 200px;
    height: 300px;
    grid-column: 1/2;
    grid-row: 1/2;
}

#bench {
    grid-column: 1/2;
    grid-row: 1/3;
    float: left;
}

#statement {
    grid-column: 3/5;
    grid-row: 3/5;
}

#casket-img {
    width: 600px;
    height: 300px;
    grid-column: 3/10;
    grid-row-start: -8;
}

#quote {
    grid-column: 2/10;
    grid-row: 6/10;
}


footer {
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social {
    margin-left: auto;
    margin: 0 auto;
    font-family: "Open Sans, Helvetica, sans-serif";
}

footer .social img {
    padding-top: 15px;
}

footer h3 a {
    background-color: #219EBC;
    color: black;
    text-decoration: none;
    font-family: "Open Sans, Helvetica, sans-serif";
    padding: 25px 50px;
}

footer h3 a:hover {
    background-color: #FFB703;
    color: white;
}

/* The sidebar menu */
.sidenav {
    width: 145px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #023047;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
    margin-top: 170px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #678D58;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #FFB703;
}

/* Style page content */
.main {
    margin-left: 160px;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}